# Local config files
.bashrc_local
config/gcloud/configurations.tsv

# Local font
**/*.otf
**/*.ttf
**/*.sfd

# Project files
.idea
.vscode
tmp
out
gen
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
crash.log
crash.*.log

# macOS
.DS_Store
*Brewfile.lock.json

# CLAUDE
.claude/*.local.json
test/bats/
test/docker/.env
